# This config run the NatureDQN model on the ALE/Pong-v5 env, with the full training
# parameter set i.e. the configuration to be used for the final model
model: "NatureDQN"

env:
    env_name: "ALE/Pong-v5"
    render_train: True
    render_test: True
    overwrite_render: True
    record: True
    max_val: 255.
    render_mode: "rgb_array"

output:
    output_path: &output_path "results/pong/NatureDQN/"
    model_output: !join_path [*output_path, "saved_weights/"]
    log_path: !join_path [*output_path, "log.txt"]
    plot_output: *output_path
    record_path: !join_path [*output_path, "recordings/"]
    tensorboard: !join_path [*output_path, "tensorboard/"]

model_training:
    load_dir: !join_path [*output_path, "saved_weights/"]
    loss: "double_dqn"
    num_episodes_test: 50
    grad_clip: True
    clip_val: 1.0
    saving_freq: 250000
    log_freq: 50
    eval_freq: 100000
    record_freq: 100000
    soft_epsilon: 0.05
    compile: False
    compile_mode: "default"

hyper_params:
    nsteps_train: 8000000
    batch_size: 32
    buffer_size: 1000000
    target_update_freq: 10000
    gamma: 0.99
    learning_freq: 4
    state_history: 4
    skip_frame: 4
    learning_start: 50000

    lr_begin: 0.00025
    lr_end: 0.000025
    lr_nsteps: 1500000
    
    eps_begin: 1.0
    eps_end: 0.01
    eps_nsteps: 2000000
    
    eps: 1e-5
    alpha: 0.6
    beta_begin: 0.4
    beta_end: 1.0
    beta_nsteps: 3000000
